.normalBackgroundColor {
    background-color: lightgray;
    border-color: lightgray;
}

.lighterBackgroundColor {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.darkBackgroundColor {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.darkerBackgroundColor {
    background-color: #a8a8a8;
    border-color: #a8a8a8;
}

.transparentBackgroundColor {
    background-color: rgba(211, 211, 211, 0.9);
    border-color: rgba(211, 211, 211, 0.9);
}