.normalBackgroundColor {
    background-color: #98BF64;
    border-color: #98BF64;
}

.lighterBackgroundColor {
    background-color: #accb83;
    border-color: #accb83;
}

.darkBackgroundColor {
    background-color: #88ab5a;
    border-color: #88ab5a;
}

.darkerBackgroundColor {
    background-color: #799850;
    border-color: #799850;
}

.transparentBackgroundColor {
    background-color: rgba(152, 191, 100, 0.9);
    border-color: rgba(152, 191, 100, 0.9);
}