#cuprinsSlideContainer {
    animation-delay: 0.5s;
    background-color: white;
    color: black;
    display: flex;
    float: left;
    font-family: "Century Gothic";
    height: 100%;
    position: fixed;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slider {
    border-left: 1px solid #cccccc;
    cursor: pointer;
    font-size: 21px;
    height: 100%;
    text-align: center;
    transform: rotate(180deg);
    width: 30px;
    writing-mode: vertical-rl;
}

#cuprins {
    display: flex;
    flex-direction: column;
    padding: 25vh 50px 25vh 15px;
}

.textCuprins {
    color: black;
    padding: 25px;
    text-decoration: none;
}

#back {
    border-top: 1px solid black;
    flex-basis: 5vh;
    padding: 15px 0;
}