html, body {
    background-color: black;
    margin: 0;
    overflow: auto;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: "Century Gothic";
    overflow-x: hidden;
}

#preloaderContainer {
    animation-duration: 0.5s;
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#preloader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -75%);
    z-index: 1001;
}

#start {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 111vh;
    position: relative;
    text-align: center;
    width: 100%;
}

#upperStart {
    padding-top: 25vh;
}

#startTitle {
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

#bottomPart {
    flex-grow: 1;
}

.noTransition {
    transition: none !important;
}

.contentDiv {
    box-sizing: border-box;
    color: black;
    padding: 5vh 25vw;
    text-align: justify;
    width: 100%;
}

.spacerContainer {
    height: 55vh;
    margin: -5px 0;
    position: relative;
}

.spacers {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 55vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.spacerTrianglesTL {
    border-color: transparent;
    border-style: solid;
    border-width: 10vh 100vw 0 0;
    box-sizing: border-box;
    display: inline-block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 2;
}

.spacerTrianglesBR {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 10vh 100vw;
    bottom: 0;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 2;
}

@media screen and (min-height: 1081px) {
    #start, .spacers {
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
    }
}