#graph {
    background-color: moccasin;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
}

#nodeData {
    background-color: #e5cda2;
    flex-basis: 25vw;
    padding: 10% 3%;
    text-align: justify;
}

#graphCanvasContainer {
    flex-basis: 75vw;
}
