.graph {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 75vh;
    width: 100%;
}

.graphNodeData {
    flex-basis: 25vw;
    padding: 10vh 3%;
    text-align: justify;
    overflow-y: auto;
}

.graphCanvasContainer {
    flex-basis: 75vw;
}