html, body {
    margin: 0;
    overflow: auto;
    padding: 0;
}

body {
    color: black;
    cursor: pointer;
    font-family: "Century Gothic";
}

#start {
    color: black;
    display: flex;
    flex-direction: row;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

#startFantastic {
    background-color: moccasin;
    height: 100vh;
    width: 100%;
}

#carti {
    background-color: brown;
    height: 100vh;
    position: relative;
    width: 100%;
}

.textPlaceholder {
    background-color: #99b954;
    color: white;
    padding: 10px;
    text-align: justify;
}