.normalBackgroundColor {
    background-color: aliceblue;
    border-color: aliceblue;
}

.lighterBackgroundColor { /* tint exception */
    background-color: #f7fbff;
    border-color: #f7fbff;
}

.darkBackgroundColor {
    background-color: #d8dfe5;
    border-color: #d8dfe5;
}

.darkerBackgroundColor {
    background-color: #c0c6cc;
    border-color: #c0c6cc;
}

.transparentBackgroundColor {
    background-color: rgba(240, 248, 255, 0.9);
    border-color: rgba(240, 248, 255, 0.9);
}