.normalBackgroundColor {
    background-color: #da9169;
    border-color: #da9169;
}

.lighterBackgroundColor {
    background-color: #e1a787;
    border-color: #e1a787;
}

.darkBackgroundColor {
    background-color: #c4825e;
    border-color: #c4825e;
}

.darkerBackgroundColor {
    background-color: #ae7454;
    border-color: #ae7454;
}

.transparentBackgroundColor {
    background-color: rgba(218, 145, 105, 0.9);
    border-color: rgba(218, 145, 105, 0.9);
}