.normalBackgroundColor {
    background-color: beige;
    border-color: beige;
}

.lighterBackgroundColor {
    background-color: #f8f8e6; /* tint exception */
    border-color: #f8f8e6;
}

.darkBackgroundColor {
    background-color: #dcdcc6;
    border-color: #dcdcc6;
}

.darkerBackgroundColor {
    background-color: #c4c4b0;
    border-color: #c4c4b0;
}

.transparentBackgroundColor {
    background-color: rgba(245, 245, 220, 0.9);
    border-color: rgba(245, 245, 220, 0.9);
}