#outerContainerPersonaje {
    height: auto;
    overflow-x: hidden;
    padding: 15px 0;
    width: 100%;
}

.containerPersonaje {
    box-sizing: border-box;
    height: 600px;
    margin: 35px 0;
    width: 100%;
}

.personaje {
    box-sizing: border-box;
    height: 100%;
    padding: 35px 35px;
    width: 25vw;
}

.extinderePersonajeContainer {
    box-sizing: border-box;
    height: 100%;
    text-align: justify;
}

.extinderePersonaj {
    box-sizing: border-box;
    height: 100%;
    padding: 35px 35px;
    width: 30vw;
}

.personaje img {
    max-height: 100%;
    max-width: 100%;
}
