#buttonRezumat {
    cursor: pointer;
    display: inline-block;
    left: 0;
    margin: auto;
    padding: 15px;
    position: absolute;
    right: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 100px;
    backface-visibility: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#rezumat {
    box-sizing: border-box;
    height: 68vh;
    padding: 5vh 15vw 16vh 15vw;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
}

#rezumatTextContainer {
    height: 100%;
    overflow-x: hidden;
    padding-right: 5px;
    text-align: justify;
}

#exitRezumat {
    position: absolute;
    right: 15px;
    top: 15px;
}