#start {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: white;
    font-family: "Century Gothic";
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

#fantastic_start {
    height: 100vh;
    flex-grow: 1;
    background-color: purple;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

#text_fantastic_start {
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
}

#carte_start {
    height: 100vh;
    flex-grow: 1;
    background-color: darkred;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

#text_carte_start {
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}