#switch_bar {
    width: 30px;
    height: 100%;
    display: inline-block;
    float:right;
    writing-mode: vertical-rl;
    text-align: center;
	font-size:21px;
    font-family: "Century Gothic";
}